<h1>Informacoes fakes:</h1>
<br />
<hr />
<img src="{{ avatar }}">
<br />
<label for="name">Nome: </label>
<input type="text" value="{{ name }}" readonly />
<br />
<label for="lastName">Sobrenome: </label>
<input type="text" value="{{ lastName }}" readonly />
<br />
<label for="birthday">Data de aniversário: </label>
<input type="text" value="{{ birthday }}" readonly />
<br/>
<!-- location -->
<label for="country">País: </label>
<input type=*text" value="{{ country }}" readonly />
<br />
<label for="city">Cidade: </label>
<input type="text" value="{{ city }}" readonly />
<br />
<label for="phone">Telefone: </label>
<input type="text" value="{{ phone }}" readonly />
<br />
<label for="state">Estado: </label>
<input type="text" value="{{ state }}" readonly />
<br />
<label for="street">Rua: </label>
<input type="text" value="{{ street }}" readonly />
<br />
<label for="zipcode">CEP: </label>
<input type="text" value="{{ zipcode }}" readonly />
<br />
<label for="email">E-mail: </label>
<input type="text" value="{{ email }}" readonly />
<br />
<label for="username">Nome de usúario: </label>
<input type="text" value="{{ username }}" readonly />
<br />
<label for="password">Senha: </label>
<input type="text" value="{{ password }}" readonly />
<br />
<label for="ip">IP: </label>
<input type="text" value="{{ ip }}" readonly />
<br />
<hr />
